html, body, #root {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden; /* Prevent overall page scrolling */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Root container using flexbox */
#root {
  display: flex;
  flex-direction: column;
}

/* Navbar styling */
.navbar {
  height: 60px; /* Adjust based on your actual Navbar height */
  background-color: white; /* White background */
  color: black; /* Black text and icons */
}

/* Main content area */
.main-content {
  flex-grow: 1;
  overflow-y: auto; /* Allow scrolling within main content if needed */
}

/* Global button styling */
button {
  background-color: black; /* Black background */
  color: white; /* White text */
  border: 1px solid black; /* Black border for outlined buttons */
}